@use '@/shared/lib/styles/mixin.scss' as *;

.header {
  background-color: #090909;
  position: relative;
  &__container {
    padding: 14px 100px;
    @include tablet {
      padding: 14px 16px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
    @include tablet {
      img {
        width: auto;
        height: 20px;
      }
    }
  }

  &__menu {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    @include tablet {
      display: none;
    }
    a {
      color: #dbdcd5;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      transform: rotate(0deg);
      width: 32px;
      height: 32px;
      &.open {
        transform: rotate(180deg);
      }
    }
  }

  &__contact {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: flex-end;
    @include tablet {
      display: none;
    }
    a {
      color: #dbdcd5;
      font-size: 16px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      overflow: hidden;
      height: 20px;
      display: flex;
      flex-direction: column;
      &:hover {
        span {
          &:first-child {
            margin-top: -20px;
          }
        }
      }
      span {
        display: block;
        height: 20px;
        width: 100%;
        transition: all 0.2s ease-in-out;
        &:first-child {
          height: 20px;
        }
        &:last-child {
          height: 20px;
        }
      }
    }
  }

  &__submenu {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
    background-color: #090909;
    &.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    @include tablet {
      display: none;
    }
    a,
    span {
      color: #dbdcd5;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
    span {
      font-weight: 400;
    }
  }

  &__mobile_menu_button {
    display: none;
    transition: all 0.2s ease-in-out;
    transform: rotate(0deg);
    width: 32px;
    height: 32px;
    &.open {
      transform: rotate(180deg);
    }
    @include tablet {
      display: block;
    }
  }

  &__mobile_menu {
    display: none;
    position: absolute;
    top: 99%;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #090909;
    padding: 32px 16px;
    height: calc(100vh - 60px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
    &.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    nav {
      display: flex;
      flex-direction: column;
      gap: 16px;
      a {
        color: #dbdcd5;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
      hr {
        background: #dbdcd5;
        width: 100%;
        height: 1px;
      }
    }
  }

  &__mobile_menu_contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    a {
      color: #dbdcd5;
      font-size: 16px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  &__mobile_menu_contact_social {
    display: flex;
    gap: 16px;
  }
}
