@use '@/shared/lib/styles/mixin.scss' as *;

.howWeAct {
  padding: 40px 0 0 0;
  &__body {
    display: flex;
    gap: 32px;
    @include tablet {
      flex-direction: column;
    }
    > div {
      &:first-child {
        width: 30%;
        @include tablet {
          width: 100%;
        }
      }
      &:last-child {
        width: 70%;
        @include tablet {
          width: 100%;
        }
      }
    }
  }
  h2 {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 44px */
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  p {
    color: #dbdcd5;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__content {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -15px;
    @include tablet {
      flex-direction: column;
      margin-top: 0;
    }
    > div {
      display: flex;
      flex-direction: column;
      gap: 4px;
      span {
        color: #fff;
        font-size: 80px;
        font-style: normal;
        font-weight: 800;
        line-height: 110%; /* 88px */
        text-transform: uppercase;
        @include tablet {
          font-size: 60px;
        }
      }
    }
  }
}
